<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE</title>
</head>
<body id="top">
    <a href="/">Logout</a>

    <h1>Database of People</h1>
    <a href="#Roles">To Roles</a>
    <h2 id="Hierachy">Hierachy</h2>
    <table>
        <tr>
            <td>
                <p><b>Chairman:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < chairman.length; i++) { %>
                <p><%= i + 1 %>: <%= chairman[i] %></p>                
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>High Council Members:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < high_council.length; i++) { %>
                <p><%= i + 1 %>: <%= high_council[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Hounoured Members:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < honoured_members.length; i++) { %>
                <p><%= i + 1 %>: <%= honoured_members[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Members:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < members.length; i++) { %>
                <p><%= i + 1 %>: <%= members[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Caution:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < caution.length; i++) { %>
                <p><%= i + 1 %>: <%= caution[i] %></p>                
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Neutral</b></p>
            </td>
            <td>
            <% for (let i = 0; i < neutral.length; i++) { %>
                <p><%= i + 1 %>: <%= neutral[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Protesters:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < protesters.length; i++) { %>
                <p><%= i + 1 %>: <%= protesters[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Enemies:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < enemies.length; i++) { %>
                <p><%= i + 1 %>: <%= enemies[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Betrayers:</b></p>
            </td>
            <td>
            <% for (let i = 0; i < betrayers.length; i++) { %>
                <p><%= i + 1 %>: <%= betrayers[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>Targets</b></p>
            </td>
            <td>
            <% for (let i = 0; i < targets.length; i++) { %>
                <p><%= i + 1 %>: <%= targets[i] %></p>
            <% } %>
            </td>
        </tr>
<br>
        <tr>
            <td>
                <p><b>High Threat</b></p>
            </td>
            <td>
            <% for (let i = 0; i < high_threat.length; i++) { %>
                <p><%= i + 1 %>: <%= high_threat[i] %></p>
            <% } %>
            </td>
        </tr>
    </table>
    <br>
    <br>


    <a href="#Hierachy">To Hierachy</a>
    <h2 id="Roles">Roles</h2>
    <table>
        <tr>
            <td>
                <p><b>Junior Branch Leader</b></p>
            </td>
            <td>
            <% for (let i = 0; i < junior_branch_leader.length; i++) { %>
                <p><%= i + 1 %>: <%= junior_branch_leader[i] %></p>
            <% } %>
            </td>
        </tr>
    </table>
    <a href="#top">Back to top</a>
</body>

<script>
    alert(`The database is now holding sensitive info. Be careful who you share this data with.`);
</script>

</html>